// Colors - temporary choices, will discuss w/ team

$LHSGreen: #5a795c;
$LHSBlue: #19292f;
$LHSWhite: white;


// Color Assignments
$htmlBG: $LHSBlue;
$bodyBG: $LHSWhite;
$footerBG: $LHSBlue;
$bannerBG: $LHSBlue;
$buttonBG: $LHSGreen;

$headingColor: $LHSGreen;
$buttonColor: $LHSWhite;
$footerColor: $LHSWhite;




// Fonts

$headingFont: Heebo, sans-serif;
$textFont: Open Sans, sans-serif;

// Size Variables

$desktop-width: 1300px;
$tablet-width: 900px;
$mobile-width: 500px;