// Colors - temporary choices, will discuss w/ team

$LHSGreen: #5a795c;
$LHSBlue: #19292f;
$LHSWhite: white;


// Color Assignments
$htmlBG: $LHSGreen;

// @headerBG: @antarcticBlue;
// @headerColor: @babyPowder;

// @contentBG: @brookGreen;
// @contentText: @antarcticBlue;
// @containerBG: @babyPowder;
// @containerHeading: @oliveish;

// @buttonBG:@brookGreen;
// @buttonColor:@babyPowder;

// Fonts

$headingFont: Montserrat, sans-serif;
$textFont: Open Sans, sans-serif;

// Size Variables

$desktop-width: "(max-width: 1200px)";
$tablet-width: "(max-width: 800px)";
$mobile-width: "(max-width: 500px)";