// Colors - temporary choices, will discuss w/ team

$LHSGreen: #5a795c;
$LHSBlue: #19292f;
$LHSWhite: white;


// Color Assignments
$htmlBG: $LHSBlue;
$bodyBG: $LHSWhite;
$footerBG: $LHSBlue;
$bannerBG: $LHSBlue;

$headingColor: $LHSGreen;
$footerColor: $LHSWhite;



// Fonts

$headingFont: Montserrat, sans-serif;
$textFont: Open Sans, sans-serif;

// Size Variables

$desktop-width: 1300px;
$tablet-width: "(max-width: 800px)";
$mobile-width: "(max-width: 500px)";