// Colors - temporary choices, will discuss w/ team

@LHSGreen: #5a795c;
@LHSBlue: #19292f;


// Color Assignments
@htmlBG: @LHSGreen;

// @headerBG: @antarcticBlue;
// @headerColor: @babyPowder;

// @contentBG: @brookGreen;
// @contentText: @antarcticBlue;
// @containerBG: @babyPowder;
// @containerHeading: @oliveish;

// @buttonBG:@brookGreen;
// @buttonColor:@babyPowder;

// Fonts

@headingFont: ~"'Montserrat', sans-serif";
@textFont: ~"'Open Sans', sans-serif";

// Size Variables

@desktop: ~"(max-width: 1200px)";
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";